<section class="container">
  <h1>Demonstration</h1>
</section>

<section class="container">
  <h2><code>span</code></h2>
  {{#twbs-span title="Some sort of span title"}}Hover over this span for a title.{{/twbs-span}}
</section>